.navContainer {
  padding-top: 2rem; /* Use padding here instead of margin on .navWrapper */
}

.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 0;
  background-color: transparent;
  backdrop-filter: blur(1rem);
}

.navigation {
  display: flex;
  gap: 4.8rem;
  margin-right: 8%;
}

.navigation > a {
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

.logo {
  margin-left: 6rem;
  width: 4rem;
}

.open,
.close {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.hide {
  display: none;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 768px) {
  .open,
  .close {
    visibility: visible;
    opacity: 1;
    display: inline-block;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .open {
    margin-right: 2rem;
  }
  .close {
    position: fixed;
    top: 4rem;
    right: 4rem;
  }

  .logo {
    margin-left: 4rem;
  }

  .navigation {
    display: none;
  }

  .responsiveNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin-right: 0;
  }

  .removePad {
    padding: 0;
  }
}
