.crew {
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/crew/background-crew-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

@media (max-width: 768px) {
  .crew {
    background-image: url("../../assets/crew/background-crew-tablet.jpg");
  }
}

@media (max-width: 375px) {
  .crew {
    background-image: url("../../assets/crew/background-crew-mobile.jpg");
  }
}
